.issue-title {
	cursor: pointer;
	color: #13294b;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	margin-top: 1rem;
}

.issue-title:hover {
}

.issue-title > * {
	pointer-events: none;
}

.issue-answer {
	display: block;
}

.issue-media {
	width: 100%;
	display: flex;
	justify-content: center;
}

.media-wrapper {
	max-height: 50vh;
	max-width: 80vw;
}

img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

video {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

p {
	display: block;
}
