@font-face {
	font-family: "UIUC Source Sans Pro Regular";
	src: url("../pages/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

body {
	padding: 5vh 5vw;
	font-family: "UIUC Source Sans Pro Regular", sans-serif;
}

#sub-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.index-buttons-row {
	display: flex;
	flex-wrap: wrap;
}

button {
	font-size: 1.3rem;
	margin: 5px;
	padding: 0.5rem;
	cursor: pointer;
}

.issue-title {
	margin-top: 1rem;
	cursor: pointer;
	color: #13294b;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 5px;
}

.issue-title:hover {
	border-color: #13294b;
	border-width: 2px;
	border-style: solid;
}

.issue-title > * {
	pointer-events: none;
}

.issue-answer {
	font-size: 1.2rem;
}

.issue-media {
	width: 100%;
	display: flex;
	justify-content: center;
}

.media-wrapper {
	max-height: 50vh;
	max-width: 80vw;
}

img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

video {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

p {
	display: block;
	margin: 0;
	padding: 5px;
}
